*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.sta
*.swo
*.swp
*.synctex*
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
/revision.tex
/contributors.tex
